
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
        background-color: #4d6d8e;
        padding: 0.4rem;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
}    
    
header a {
    color: white;
    margin-left: 1rem;
    margin-right: 2rem;
}
  

  
  input, textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: 1rem;
  }
  
  
  .post {
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  
  @media (max-width: 600px) {
    main {
      padding: 1rem;
    }
  
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  }



footer {
    background-color: #f1f1f1;
    color: #555;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 10px;
    
}

  main {
    padding: 2rem;
  }
  

a{
    text-decoration: none;
}

/* only for main tag */

main {
  max-width: 700px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

main h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #4c6986;
}

/* Form */


main input[type="text"],
main textarea {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  transition: border-color 0.3s ease;
}

main input[type="text"]:focus,
main textarea:focus {
  border-color: #0077cc;
  outline: none;
}

main button {
  padding: 12px;
  font-size: 1rem;
  background-color: #4e6bab;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main button:hover {
  background-color: #0f3742;
}
